/* ===============================================
====================== BASE ======================
=============================================== */



/* ===============================================
=================== KEYFRAMES ====================
=============================================== */


/* ===============================================
===================== HEADER =====================
=============================================== */

.icon-bell {
height: 20px;
width: 20px;
}

.icon-home {
height: 20px;
width: 20px;
}

.icon-chart {
height: 20px;
width: 20px;
}

.icon-members {
height: 20px;
width: 20px;
}

.icon-settings {
height: 20px;
width: 20px;
}


/* ===============================================
====================== NAV =======================
=============================================== */


/* ===============================================
====================== MAIN =======================
=============================================== */


/* ===============================================
================= GRAPHS SECTION =================
=============================================== */


/* ===============================================
================ MEMBERS SECTION =================
=============================================== */


/* ===============================================
================= MESSAGE FORM ===================
=============================================== */


/* ===============================================
================ SETTINGS SECTION ================
=============================================== */


/* ===============================================
==================== MEDIA QUERIES ===============
=============================================== */

@media (min-width: 768px) {

}


/*================== BASE =====================*/



/*================== HEADER ===================*/

/*================== NAV ======================*/

/*================== MAIN =====================*/

/*================== GRAPHS SECTION ===========*/

/*================== MEMBERS SECTION ==========*/

/*================== MESSAGE FORM =============*/

/*================== SETTINGS SECTION =========*/

@media (min-width: 1024px) {

}

/*================== BASE =====================*/

/*================== HEADER ===================*/

/*================== NAV ======================*/

/*================== MAIN =====================*/

/*================== GRAPHS SECTION ===========*/

/*================== MEMBERS SECTION ==========*/

/*================== MESSAGE FORM =============*/

/*================== SETTINGS SECTION =========*/








/*     */
