/* ===============================================
====================== BASE ======================
=============================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: #f7f7f7;
}

.grid-container {
	display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
	grid-template-areas:
        "header"
        "nav"
        "main";
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.navigaton {
  grid-area: navigation;
}

.main {
  grid-area: main;
}
/* ===============================================
=================== KEYFRAMES ====================
=============================================== */


/* ===============================================
===================== HEADER =====================
=============================================== */

.header{
  background-color: #7477bf;
  grid-area: header;
  width: 100%;
  color: white;
  display: flex;
}

.header-title {
  font-size: 20px;
  display: block;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-img {
  display: block;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 180px;
  height: 40px;
  width: auto;
}

.header-name {
  font-size: 15px;
  display: block;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.icon-bell {
  display: block;
  margin-left: 30px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 23px;
  width: 23px;
}


/* ===============================================
====================== NAV =======================
=============================================== */

.navbar {
  width: 100%;
  background-color: #4c4c74;
}

.navbar-icons {
  display: flex;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-home {
  margin-left: 80px;
}

.icon-chart {
  margin-left: 65px;
}

.icon-members {
  margin-left: 65px;
  margin-right: 65px;
}

.icon-settings {
  margin-right: 80px;
}


/* ===============================================
====================== MAIN =======================
=============================================== */


/* ===============================================
================= GRAPHS SECTION =================
=============================================== */


/* ===============================================
================ MEMBERS SECTION =================
=============================================== */


/* ===============================================
================= MESSAGE FORM ===================
=============================================== */


/* ===============================================
================ SETTINGS SECTION ================
=============================================== */


/* ===============================================
==================== MEDIA QUERIES ===============
=============================================== */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
        "header header"
        "navigation main";
  }

  /*================== BASE =====================*/

  /*================== HEADER ===================*/
  .header-title {
    font-size: 25px;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .icon-bell {
    display: block;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    height: 30px;
    width: 30px;
  }


  .profile-img {
    display: block;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 180px;
    height: 60px;
    width: auto;
  }

  .header-name {
    font-size: 18px;
    display: block;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  /*================== NAV ======================*/

  .navbar {
    background-color: #4c4c74;
    width: 80px;
    height: 1000px;
  }

  .navbar-icons {
    margin: 0px;
    width: 100px;
    display: block;
  }

  .icon-home {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .icon-chart {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .icon-members {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .icon-settings {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 20px;
  }


  /*================== MAIN =====================*/

  /*================== GRAPHS SECTION ===========*/

  /*================== MEMBERS SECTION ==========*/

  /*================== MESSAGE FORM =============*/

  /*================== SETTINGS SECTION =========*/
}

@media (min-width: 1024px) {

/*================== BASE =====================*/

/*================== HEADER ===================*/
.header-title {
  font-size: 40px;
  display: block;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


.icon-bell {
  display: block;
  margin-left: 30px;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 30px;
  height: 40px;
  width: 40px;
}


.profile-img {
  display: block;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 180px;
  height: 80px;
  width: auto;
}

.header-name {
  font-size: 22px;
  display: block;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 45px;
  margin-bottom: 0px;
}
/*================== NAV ======================*/

.navbar {
  background-color: #4c4c74;
  width: 110px;
  height: 1000px;
}

.navbar-icons {
  margin: 0px;
  width: 100px;
  display: block;
}

.icon-home {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}

.icon-chart {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}

.icon-members {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}

.icon-settings {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}

/*================== MAIN =====================*/

/*================== GRAPHS SECTION ===========*/

/*================== MEMBERS SECTION ==========*/

/*================== MESSAGE FORM =============*/

/*================== SETTINGS SECTION =========*/

}







/*     */
