/* ===============================================
====================== BASE ======================
=============================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: #f7f7f7;
}

.grid-container {
	display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
	grid-template-areas:
        "header"
        "nav"
        "main";
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.navigaton {
  grid-area: navigation;
}

.main {
  grid-area: main;
}
/* ===============================================
=================== KEYFRAMES ====================
=============================================== */


/* ===============================================
===================== HEADER =====================
=============================================== */

.header{
  background-color: #7477bf;
  grid-area: header;
  width: 100%;
  color: white;
  display: flex;
}

.header-title {
  display: block;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.svg-container {

}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 180px;
  height: 50px;
  width: auto;
}

.header-name {
  display: block;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.icon-bell {
  display: block;
  margin-left: 30px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 35px;
  width: 35px;
}

.navbar-icons {

}

.icon-home {
height: 20px;
width: 20px;
}

.icon-chart {
height: 20px;
width: 20px;
}

.icon-members {
height: 20px;
width: 20px;
}

.icon-settings {
height: 20px;
width: 20px;
}

.main-header {

}

.headline {

}

.main-header-search {

}

.alert {

}


/* ===============================================
====================== NAV =======================
=============================================== */


/* ===============================================
====================== MAIN =======================
=============================================== */


/* ===============================================
================= GRAPHS SECTION =================
=============================================== */


/* ===============================================
================ MEMBERS SECTION =================
=============================================== */


/* ===============================================
================= MESSAGE FORM ===================
=============================================== */


/* ===============================================
================ SETTINGS SECTION ================
=============================================== */


/* ===============================================
==================== MEDIA QUERIES ===============
=============================================== */

@media (min-width: 768px) {

}


/*================== BASE =====================*/



/*================== HEADER ===================*/

/*================== NAV ======================*/

/*================== MAIN =====================*/

/*================== GRAPHS SECTION ===========*/

/*================== MEMBERS SECTION ==========*/

/*================== MESSAGE FORM =============*/

/*================== SETTINGS SECTION =========*/

@media (min-width: 1024px) {

}

/*================== BASE =====================*/

/*================== HEADER ===================*/

/*================== NAV ======================*/

/*================== MAIN =====================*/

/*================== GRAPHS SECTION ===========*/

/*================== MEMBERS SECTION ==========*/

/*================== MESSAGE FORM =============*/

/*================== SETTINGS SECTION =========*/








/*     */
